argcomplete==1.10.3
autopep8==1.6.0
beautifulsoup4==4.8.2
bson==0.5.10
certifi==2021.10.8
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.11
click==8.0.3
compressed-rtf==1.0.6
Deprecated==1.2.13
dnspython==2.2.0
docx2txt==0.8
ebcdic==1.1.1
EbookLib==0.17.1
extract-msg==0.28.7
Flask==2.0.2
Flask-PyMongo==2.3.0
gunicorn==20.1.0
idna==3.3
IMAPClient==2.1.0
itsdangerous==2.0.1
Jinja2==3.0.3
joblib==1.1.0
lxml==4.7.1
MarkupSafe==2.0.1
nltk==3.6.7
olefile==0.46
pdfminer.six==20191110
Pillow==9.0.1
pycodestyle==2.8.0
pycparser==2.21
pycryptodome==3.14.1
PyGithub==1.55
PyJWT==2.3.0
pymongo==4.0.1
PyNaCl==1.5.0
python-dateutil==2.8.2
python-dotenv==0.19.2
python-pptx==0.6.21
pytz-deprecation-shim==0.1.0.post0
regex==2022.1.18
requests==2.27.1
six==1.12.0
sortedcontainers==2.4.0
soupsieve==2.3.1
SpeechRecognition==3.8.1
stop-words==2018.7.23
textract==1.6.4
toml==0.10.2
tqdm==4.62.3
tzdata==2021.5
tzlocal==4.1
urllib3==1.26.8
Werkzeug==2.0.2
wrapt==1.13.3
xlrd==1.2.0
XlsxWriter==3.0.2
